{% extends "base.html" %}
{% block content %}
<div>
    <h1>投稿一覧</h1>
</div>

{% for text in msg %}
    <div id="msg">
	<a href="{% url 'user_page' pk=text.user.id %}">
        <p>user: {{ text.user.username}}</p>
	</a>
        <p>{{ text.msg_text }}</p>
        <p>good: {{ text.good }}</p>
    </div>
    <form action="{% url 'follow_post' pk=text.user.id %}" method="post">
        {% csrf_token %}
        {% if text.followed %}
            <button type="submit" name="follow" value="unfollow">フォロー中</button>
        {% else %}
            <button type="submit" name="follow" value="follow">フォローする</button>
        {% endif %}
    </form>
   {{ text.followers }}
    <form action="{% url 'post_likes' pk=text.pk %}" method="post">
        {% csrf_token %}
        {% if text.liked %}
            <button type="submit" name="like" value="unlike">Unlike</button>
        {% else %}
            <button type="submit" name="like" value="like">Like</button>
        {% endif %}
	{{ text.likes }}
    </form>
    <a href="{% url 'comment_page' pk=text.pk %}">コメントする</a>
    <hr>
{% endfor %}
{% endblock %}