{% extends "base.html" %}
{% block content %}
<div>
    <h1>投稿一覧</h1>
</div>

{% for text in msg %}
    <div id="msg">
        <p>user: {{ text.user.username}}</p>
        <p>{{ text.msg_text }}</p>
        <p>good: {{ text.good }}</p>
    </div>
	<form action="{% url 'post_likes' pk=text.pk %}" method="post">
        {% csrf_token %}
        {% if text.liked %}
            <button type="submit" name="like" value="unlike">Unlike</button>
        {% else %}
            <button type="submit" name="like" value="like">Like</button>
        {% endif %}
	{{ text.likes }}
    </form>
    <hr>
{% endfor %}
{% endblock %}