{% extends "base.html" %}
{% block content %}
<div>
    <h1>{{users.username}}</h1>
</div>
<div>
    <a href="{% url 'user_follows' pk=users.id %}">フォロー中</a>
    <p>{{follows}}</p>
    <a href="{% url 'user_followers' pk=users.id %}">フォロワー</a>
    <p>{{followers}}</p>
</div>
    <form action="{% url 'follow_post' pk=users.id %}" method="post">
        {% csrf_token %}
        {% if followed %}
            <button type="submit" name="follow" value="unfollow">フォロー中</button>
        {% else %}
            <button type="submit" name="follow" value="follow">フォローする</button>
        {% endif %}
    </form>

{% for text in msg %}
    <div id="msg">
        <p>date: {{ text.date_created}}</p>
        <p>{{ text.msg_text }}</p>
        <p>good: {{ text.likes }}</p>
    </div>
    <hr>
{% endfor %}
{% endblock %}